<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hi {{user}}</p>
    <p>If you are looking for a job, please fill this form by clicking on the below link:</p>
    <p>{{url}}</p>
</body>
</html>